<h3>Your order from Rails E-Store is on the way</h3>
<p>
We have shipped your recent order:
</p>
<table>
  <tr><th colspan="2">Qty</th><th>Description</th></tr>
  <%= render @order.line_items -%>
</table>